*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    transition: 2s;

}
.container{
    background-color: #979277;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    
}
.logo img{
    width: 50px;
}
.link ul li{
    display:inline-block;
    padding: 20px;
    list-style: none;
    font-size: larger;
    

}

.link ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;

    
}
.link ul li a:hover{
    color: #000000;
    background-color: #ffffff;
    border-radius: 50px;
    transition: 1.5s ease;
    

}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;/*عشان النص ما يلصق في الصفحه*/
    width: 80%;
    padding: 80px 30px;
    margin-top: 20px;
    border-radius: 40px;
    
}
.social-icons ul li{
    padding: 10px;
    list-style: none;
    transition: .5s;
   
    
}
.social-icons ul li:hover{
    transform: scale(1.2);

}

.text {
    color: #ffffff;
    width: 40%;
    transition: .1s;
}
.text h2{
    text-transform: uppercase;
    font-size: 40px;

}
.text p{
    margin: 20px 0;
    font-size: 18px;
    padding: 10px;
    line-height:30px;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 220px;
}
.content .text a{
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 8px 20px;
    color: #000;
    
    
}


.icons{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.icons img {
    width: 100px;
    transition: .7s;
    cursor: pointer;

}
.icons img:hover{
    transform: scale(1.2);
}
